<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{event.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{event.description}}
      </p>
      <mat-chip-set aria-label="Fish selection">
          <mat-chip>{{event.location}}</mat-chip>
          <mat-chip>{{event.type}}</mat-chip>
          <mat-chip>{{event.date}}</mat-chip>
          <mat-chip>{{event.time}}</mat-chip>
        </mat-chip-set>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onButtonClick()">
        Eliminar
      </button>
    </mat-card-actions>
  </mat-card>
  