<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-label class="side-label">Configuracion</mat-label>
        <button mat-button class="side">Editar perfil</button>
        <button mat-button class="side">Notificaciones</button>
        <button mat-button class="side">Eventos inscritos</button>
        <button mat-button class="side">Historial de pagos</button>
    </mat-sidenav>
  
    <!-- Área de contenido -->
    <mat-sidenav-content>

    </mat-sidenav-content>
</mat-sidenav-container>
  