<div class="register-container">
  <h2>Crear una cuenta</h2>
  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombres</label>
      <input type="text" formControlName="nombres" placeholder="Value">
    </div>

    <div class="form-group">
      <label>Apellidos</label>
      <input type="text" formControlName="apellidos" placeholder="Value">
    </div>

    <div class="form-group">
      <label>Número de teléfono</label>
      <input type="tel" formControlName="telefono" placeholder="Value">
    </div>

    <div class="form-group">
      <label>Ubicación</label>
      <input type="text" formControlName="ubicacion" placeholder="Value">
    </div>

    <div class="form-group">
      <label>Correo electrónico</label>
      <input type="email" formControlName="correo" placeholder="Value">
    </div>

    <div class="form-group">
      <label>Acerca de mí</label>
      <input type="text" formControlName="acercaDeMi" placeholder="Value">
    </div>

    <div class="form-group checkbox">
      <input type="checkbox" formControlName="terminos" id="terminos">
      <label for="terminos">
        Aceptas las condiciones del servicio, la política privacidad y la política de cookies
      </label>
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
  </form>
</div> 